pandas~=2.3.0
ujson~=5.10.0
numpy~=1.24.4
torch~=2.7.1
scikit-learn~=1.6.1
tqdm~=4.67.1
transformers~=4.40.2
spacy~=3.7.5
seaborn~=0.13.2
matplotlib~=3.10.3
beautifulsoup4~=4.13.4
requests~=2.32.4
typer~=0.9.0
xgboost~=3.0.2
scipy~=1.15.3
tensorboard~=2.19.0
datasets~=3.6.0
nervaluate~=0.2.0
seqeval~=1.2.2
scikit-multilearn~=0.2.0